<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
      data-menu-styles="dark" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> WEALTHI - Add Instrument </title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/brand-logos/favicon.ico') }}" type="image/x-icon">

    <!-- Choices JS -->
    <script src="{{ url_for('static', filename='libs/choices.js/public/assets/scripts/choices.min.js') }}"></script>

    <!-- Main Theme Js -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Style Css -->
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">

    <!-- Icons Css -->
    <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet">

    <!-- Node Waves Css -->
    <link href="{{ url_for('static', filename='libs/node-waves/waves.min.css') }}" rel="stylesheet">

    <!-- Simplebar Css -->
    <link href="{{ url_for('static', filename='libs/simplebar/simplebar.min.css') }}" rel="stylesheet">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/flatpickr/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/@simonwep/pickr/themes/nano.min.css') }}">

    <!-- Choices Css -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='libs/choices.js/public/assets/styles/choices.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jsvectormap/css/jsvectormap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/swiper/swiper-bundle.min.css') }}">


</head>

<body>

<div class="page">
    <!-- app-header -->
    {% include 'commons/header.html' %}
    <!-- /app-header -->
    <!-- Start::app-sidebar -->
    {% include 'commons/side_bar.html' %}
    <!-- End::app-sidebar -->

    <!-- Start::app-content -->
    <div class="main-content app-content">
        <div class="container-fluid">
            <!--            title and breadcrumb-->
            <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                <h1 class="page-title fw-semibold fs-18 mb-0">Add new instrument to observe</h1>
                <div class="ms-md-1 ms-0">
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/brokers">Observable Instruments</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add new</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--            title and breadcrumb-->

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header"><h5>Add new instrument to observe</h5></div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate
                                  action="/add_observable_instrument"
                                  method="post">
                                <div class="col-xl-12 mb-3">
                                    <p class="fw-semibold mb-2">Select Instrument Type</p>
                                    <select required class="form-control ">
                                        <option value="fut" selected>FUTURES</option>
                                        <option value="eq" disabled>EQUITY</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 mb-3">
                                        <p class="fw-semibold mb-2">Select Zerodha Instrument</p>
                                        <select required class="form-control choices-single-default" data-trigger
                                                name="zerodha_trading_symbol">
                                            <option value="">Select zerodha symbol</option>
                                            {% for instrument in zerodha_instruments%}
                                            <option value="{{instrument.zerodha_trading_symbol}}">{{instrument.zerodha_trading_symbol}} - {{instrument.zerodha_expiry}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-xl-6 mb-3">
                                        <p class="fw-semibold mb-2">Select Angel One Instrument</p>
                                        <select required class="form-control choices-single-default" data-trigger
                                                name="angel_trading_symbol">
                                            <option value="">Select Angel One symbol</option>
                                            {% for instrument in angel_instruments%}
                                            <option value="{{instrument.angel_symbol}}">{{instrument.angel_symbol}} - {{instrument.angel_expiry}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-xl-6 mb-3">
                                        <p class="fw-semibold mb-2">Select Shoonya Instrument</p>
                                        <select required class="form-control choices-single-default" data-trigger
                                                name="shoonya_trading_symbol">
                                            <option value="">Select Shoonya symbol</option>
                                            {% for instrument in shoonya_instruments%}
                                            <option value="{{instrument.shoonya_trading_symbol}}">{{instrument.shoonya_trading_symbol}} - {{instrument.shoonya_expiry}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-xl-6 mb-3">
                                        <p class="fw-semibold mb-2">Select Alice Blue Instrument</p>
                                        <select required class="form-control choices-single-default" data-trigger
                                                name="alice_blue_trading_symbol">
                                            <option value="">Select Alice symbol</option>
                                            {% for instrument in alice_blue_instruments %}
                                            <option value="{{instrument.alice_trading_symbol}}">{{instrument.alice_trading_symbol}} - {{instrument.alice_expiry_date}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <div class="col-xl-12 d-grid my-4">
                                    <button type="submit" class="btn btn-lg btn-primary">Add</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End::app-content -->

    <!-- Footer Start -->
    {% include 'commons/footer.html' %}
    <!-- Footer End -->

</div>


<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>
<!-- Popper JS -->
<script src="{{ url_for('static', filename='libs/@popperjs/core/umd/popper.min.js') }}"></script>

<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Defaultmenu JS -->
<script src="{{ url_for('static', filename='js/defaultmenu.min.js') }}"></script>

<!-- Node Waves JS -->
<script src="{{ url_for('static', filename='libs/node-waves/waves.min.js') }}"></script>

<!-- Sticky JS -->
<script src="{{ url_for('static', filename='js/sticky.js') }}"></script>

<!-- Simplebar JS -->
<script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/simplebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom_choices.js') }}"></script>

<!-- Color Picker JS -->
<script src="{{ url_for('static', filename='libs/@simonwep/pickr/pickr.es5.min.js') }}"></script>

<!-- JSVector Maps JS -->
<script src="{{ url_for('static', filename='libs/jsvectormap/js/jsvectormap.min.js') }}"></script>

<!-- JSVector Maps MapsJS -->
<script src="{{ url_for('static', filename='libs/jsvectormap/maps/world-merc.js') }}"></script>

<!-- Apex Charts JS -->
<script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Chartjs Chart JS -->
<script src="{{ url_for('static', filename='libs/chart.js/chart.min.js') }}"></script>


</body>

</html>