<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
      data-menu-styles="dark" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> WEALTHI - Manage Brokers </title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/brand-logos/favicon.ico') }}" type="image/x-icon">

    <!-- Choices JS -->
    <script src="{{ url_for('static', filename='libs/choices.js/public/assets/scripts/choices.min.js') }}"></script>

    <!-- Main Theme Js -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Style Css -->
    <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">

    <!-- Icons Css -->
    <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet">

    <!-- Node Waves Css -->
    <link href="{{ url_for('static', filename='libs/node-waves/waves.min.css') }}" rel="stylesheet">

    <!-- Simplebar Css -->
    <link href="{{ url_for('static', filename='libs/simplebar/simplebar.min.css') }}" rel="stylesheet">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/flatpickr/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/@simonwep/pickr/themes/nano.min.css') }}">

    <!-- Choices Css -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='libs/choices.js/public/assets/styles/choices.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jsvectormap/css/jsvectormap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/swiper/swiper-bundle.min.css') }}">


</head>

<body>

<div class="page">
    <!-- app-header -->
    {% include 'commons/header.html' %}
    <!-- /app-header -->
    <!-- Start::app-sidebar -->
    {% include 'commons/side_bar.html' %}
    <!-- End::app-sidebar -->

    <!-- Start::app-content -->
    <div class="main-content app-content">
        <div class="container-fluid">


        </div>
    </div>
    <!-- End::app-content -->

    <!-- Footer Start -->
    {% include 'commons/footer.html' %}
    <!-- Footer End -->

</div>


<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>
<!-- Popper JS -->
<script src="{{ url_for('static', filename='libs/@popperjs/core/umd/popper.min.js') }}"></script>

<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Defaultmenu JS -->
<script src="{{ url_for('static', filename='js/defaultmenu.min.js') }}"></script>

<!-- Node Waves JS -->
<script src="{{ url_for('static', filename='libs/node-waves/waves.min.js') }}"></script>

<!-- Sticky JS -->
<script src="{{ url_for('static', filename='js/sticky.js') }}"></script>

<!-- Simplebar JS -->
<script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/simplebar.js') }}"></script>

<!-- Color Picker JS -->
<script src="{{ url_for('static', filename='libs/@simonwep/pickr/pickr.es5.min.js') }}"></script>

<!-- JSVector Maps JS -->
<script src="{{ url_for('static', filename='libs/jsvectormap/js/jsvectormap.min.js') }}"></script>

<!-- JSVector Maps MapsJS -->
<script src="{{ url_for('static', filename='libs/jsvectormap/maps/world-merc.js') }}"></script>

<!-- Apex Charts JS -->
<script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Chartjs Chart JS -->
<script src="{{ url_for('static', filename='libs/chart.js/chart.min.js') }}"></script>


</body>

</html>